@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

* {
    margin: 0px;
    padding: 0;
}

body {
    background-image: url("./Visuels/Images/fondenbois.jpg");
    background-size: cover;
    background-position: 0 0;
    font-family: 'Tajawal', sans-serif;
    color: #4F4F52;
    height: 100%;
}

/* Home */
.play-zone {
  position: relative;
}
#eye {
  width: 70px;
  height: 30px;
  position: absolute;
  right: 100px;
  top: 50%;

}
.bg-image {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background-color: rgba(17, 16, 16, 0.384);
  color: rgb(255, 255, 255);
}
#start-button {
    box-sizing: border-box;
    background: #C46013;
    border: 2px solid #FFF8F8;
    border-radius: 44px;
    font-size: 45px;
    font-weight: lighter;
    width: 50vh;
    height: 10vh;
    color: white;
    animation: float 6s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
  
  h1{
    font-size: 130px;
}

h2{
    font-size: 48px;
    font-weight: thin;
}

#div-button{
    color: white;
    font-size: 30px;
    font-weight: lighter;
}

#div-button p {
  margin-top: 10px;
}

a{
    text-decoration: none;
    color: white;
}
/* Levels */

.main-level header {
  background-color: rgba(17, 16, 16, 0.5);
  height: 20vh;
  width: 70vh;
  border-radius: 70px;
  font-size: 70px;
  color: white;
  text-align: center;
}

.main-level {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.levels-placeholder {
display: flex;
justify-content: space-around;
width: 100%;

 }

 .level {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: auto;
   color: rgb(54, 54, 56);
 }
.level > * {
  margin: 3%;
  text-align: center;
}

.level p {
  background-color: rgba(17, 16, 16, 0.5);
  border-radius: 60px;
  color: whitesmoke;
  width: auto;
  padding: 5%;
  font-size: 100%;
}

.level:hover .icon-level {
  background-color: rgba(255, 255, 255, 0.945);
  transform :rotate(360deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .icon-level {
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.61);
   width: 150px;
   height: 150px;
   display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s;
 }

.main-level header {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
/* Rules */
.footer-rules {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10%;
}

#bg-rules {
  box-sizing: border-box;
justify-content: space-between;
padding : 5%;
background-color: rgba(17, 16, 16, 0.521);
}

#intro-rules{
  font-size: 40px;
  font-weight: lighter;
}


.hide {
  display: none;
}

video {
  width: 50%;
  border-radius: 10%;
  margin: 0 auto;
}

.div-explanation{
  height: 40vh;
  display: flex;
  justify-content: space-around;
}

.icn-explanation i {
  font-size: 30vh;
  color: rgba(255, 247, 247, 0.651);
}

.icn-explanation {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.rule-explanation {
  font-size: 22px;
}

#skip-rules {
  height: 10vh;
  width: 35vh;
  border-radius: 44px;
  border: 2px solid white;
  background-color: rgba(17, 16, 16, 0.521);
  color: white;
  font-size: 30px;
  padding: 0.5%;
  margin-bottom: 0.5%;
}
.footer-rules p {
  font-size: 25px;
}
.footer-rules div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Game */

#header-game {
  height: 20vh;
  font-size: 70px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding :0 5%;
}
#score {
  font-size: 55px;
  background-color: rgba(0, 0, 0, 0.295);
  padding: 10px;
  color: #F3EEEE;
  border-radius: 10%;
  border : 2px solid white;
}
#circle1 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  rgba(0, 0, 0, 0.295);
}

#circle2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px dashed  white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  font-size: 30px;
}

.game-placeholder{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}

.f-trad-placeholder {
    opacity: 0.78;
    background: #FFFBFB;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-zone .fas.fa-eye{
  position: absolute;
  right: 10%;
  top: 55%;
  color:rgba(0, 0, 0, 0.5);
  font-size: 50px;
}

.play-zone .fas.fa-forward{
  position: absolute;
  right: 10%;
  top:22%;
  color:rgba(0, 0, 0, 0.5);
  font-size: 50px;
}
.play-zone .fas:hover {
  color:rgba(0, 0, 0, 0.9);
}

.play-zone{
  position: relative;
}
.disclosure-lit-trad {
  opacity: 0.78;
  background: rgba(0, 0, 0, 0.9);
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: lighter;
  width: 50%;
  position: absolute;
  left: calc(25%);
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.answer-placeholder {
    position: relative;
    background-color: rgba(0, 0, 0, 0.295);
    box-shadow: inset 0 1px 3px 2px rgba(0,0,0,0.72);
    border-radius: 44px;
    height: 180px;
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    /* 5 doit pouvoir changer en fonction du nombre de mots */
}

.wrong-answer {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.block {
    background: #D65719;
    border: 3px solid #F3EEEE;
    border-radius: 44px;
    font-size: 72px;
    color: #FBD1D1;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    box-shadow: inset 0 1px 3px 2px rgba(0,0,0,0.40);

}

.hint {
  visibility: hidden;
  font-size: 20px;
}

.block:hover .hint {
  visibility: visible;
  font-size: 20px;
}

.words-placeholder {
  margin : 0 50px;
  display: grid;
  grid-template-columns: repeat(5, auto); 
  grid-gap: 50px;
  height: 236px;
}

/* End */

.bg-eng{
  background-color: aqua;
  height: 100vh;
}
#sun {
  transition: transform 3s;
  transform :rotate(180deg);
}

#revoir {
  height : 200px;
  width : 200px;
border-radius: 200px 0 0 0;
transform:rotate(90deg);
background-color: rgba(255, 255, 255, 0.664);
position: fixed;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
}

#revoir:hover {
  background-color: rgba(255, 255, 255, 0.945);
  transform :rotate(90deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#revoir p {
  transform: rotate(-90deg);
  font-size: 30px;
  left : 20%;
  margin-left: 15%;

}

#fond {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.display-score {
  position: relative;
  background-color: rgba(0, 0, 0, 0.473);
  border: 3px solid white;
  border-radius: 60px;
  height: 20vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#temps {
  margin: 0 auto;
  width: 50% ;
  text-align: center;
}
#fond h1 {
  font-size: 10vh;
  color: rgb(26, 24, 24)
}
.display-score h2 {
  font-size: 60px;
  color: white;
}
.display-score img {
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.959);
padding : 2%;
position : absolute;
width: 30%;
top: -80%;
}
/* .fa-redo:before {
  font-size: 5vh;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.664);
} */
.fa-redo {
  font-size: 5vh;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.664);
  padding : 2.5%;
}
.fa-redo:hover {
  background-color: rgba(255, 255, 255, 0.945);
  /* transform :rotate(360deg); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform :rotate(360deg);
  transition: transform 1s;
}


/* Revoir */
#body-revoir {
  height: auto;
}
#list-exp {
  height: autogit ;
  background-color: rgba(17, 16, 16, 0.384);
  padding: 7vh;
}
.list-element {
  border-left: 8px solid white;
  margin :0 7vh 7vh;
  padding :2vh;
  color: white;
  height: auto;
}

.list-element h1 {
  font-size: 40px;
}



